@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/client/assets/css/main.css" rel="stylesheet" />
	<link href="~/client/assets/css/style.css" rel="stylesheet" />
	<link href="~/client/assets/css/newpostmodal.css" rel="stylesheet" />
</head>

@section Scripts{
	<script src="~/client/assets/js/style.js" defer></script>
	<script type="module" src="~/client/assets/js/main.js" defer></script>
}


<div id="app">
	<BlogPost />
</div>

