@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/client/assets/main.css" rel="stylesheet" />
	<link href="~/client/assets/style.css" rel="stylesheet" />
</head>

@section Scripts{
	<script type="module" src="~/client/assets/main.js" defer></script>
}


<div id="app">
	<BlogPost />
</div>

