@{
	ViewData["Title"] = "Profile Page";
}

<head>
	<link href="~/client/assets/css/style.css" rel="stylesheet" />
	<link href="~/client/assets/css/profilepage.css" rel="stylesheet" />
</head>

<div id="app">

</div>

@section Scripts {
	<script type="module" src="~/client/assets/js/profilepage.js" defer></script>
}
