@{
	ViewData["Title"] = "Log in";
}

<head>
	<link href="~/client/assets/css/style.css" rel="stylesheet" />
	<link href="~/client/assets/css/login.css" rel="stylesheet" />
</head>

<div id="app">
	<Login></Login>
</div>

@section Scripts {
	<script type="module" src="~/client/assets/js/login.js" defer></script>
	<partial name="_ValidationScriptsPartial" />
}
