@{
	ViewData["Title"] = "Register";
}

<head>
	<link href="~/client/assets/css/style.css" rel="stylesheet" />
	<link href="~/client/assets/css/Register.css" rel="stylesheet" />
</head>

<div id="app">
</div>

@section Scripts {
	<script type="module" src="~/client/assets/js/register.js" defer></script>
}
